<h1>新增 menu</h1>

<form action="{% url 'menu:index' %}" method="post" onsubmit="return confirm('確定要新增嗎？')">
    {% csrf_token %}
    <div>
        <label for="name">菜名</label>
        <input name="name" type="text">
    </div>
    <div>
        <label for="price">價格</label>
        <input name="price" type="number">
    </div>
    <div>
        <label for="description">描述</label>
        <textarea name="description" id=""></textarea>
    </div>
    <div>
        <label for="is_available">有無提供</label>
        <input type="radio" name="is_available" value="True" checked> 有
        <input type="radio" name="is_available" value="False"> 無
    </div>
    <div>
        <label>辣？</label>
        <input type="radio" name="is_spicy" value="True"> 是
        <input type="radio" name="is_spicy" value="False" checked> 否
    </div>
    <div>
        <input type="submit" value="新增">
    </div>
</form>